* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul,
li {
  list-style: none;
}
/*-------------------MENU HEADER---------------------*/
/*---------------------------------------------------*/
.layer-under-menu {
  background-color: black;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 99;
}
.logo-control {
  width: 146px;
  height: auto;
  margin-top: 20px;
}
.logo-control img {
  width: 100%;
  height: auto;
}
.space-menu {
  width: 40%;
  /* background-color: aqua; */
}
.space-menu p {
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-left: 20px;
}
.menu-group {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.link-control {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.link-control a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}
.link-control a:hover {
  color: orangered;
  text-decoration: underline;
}
/*----------------------------------------------------*/
ul li:hover ul.dropdown {
  display: block;
}
ul li ul.dropdown li {
  display: block;
}
.dropdown {
  position: absolute;
  min-width: 100;
  margin-top: 10px;
  background-color: #f9f9f9;
  margin-left: 0;
  display: none;
}
.dropdown a {
  padding: 12px 10px;
  text-decoration: none;
  color: black;
  display: block;
  z-index: 1;
}
.dropdown a:hover {
  color: orangered;
  text-decoration: underline;
  background-color: #ddd;
}
/*-------------------SLIDE HOME---------------------*/
/*---------------------------------------------------*/
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}
/* ẩn hình ảnh cho phần tử slideshow */
.mySlides {
  display: none;
}
/* thiết kế nút mũi tên*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* thiết kế nút mũi tên next nằm phía bên phải */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Thiết lập style cho nội dung của mỗi phần tử slideshow */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */
/* Thiết lập style cho số hiển thị của phần tử */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */
/* thiết lập style  nút tròn điều khiển*/
.dot-control {
  position: absolute;
  text-align: center;
  bottom: 3%;
  right: 50%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* tạo hiệu ứng chuyển động fade */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */
